// MY THEME COLORS 
$purple:  #BB6EF5;
$pink:    #ea4c89;


$primary:       $pink;
$secondary:     $purple;


// Typography
$font-family-sans-serif: 'Rubik', Montserrat, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Body
$body-color: #000;

