@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
// Color system
$primary: #1cb35d; //#00ff84; //#31D8A7;
$secondary: #b0ce34; //#006062;


$font-family-sans-serif:   "Nunito";
$enable-validation-icons:     false;
$enable-negative-margins:     false;
